@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #171717;

  /* Font Variables */
  --font-funnel-sans: 'Funnel Sans', sans-serif;
  --font-mona-sans: 'Mona Sans', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mona-sans);
  @apply antialiased;
}

svg {
  shape-rendering: geometricPrecision;
}