@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Mona Sans', sans-serif;
  @apply antialiased;
}

svg {
  shape-rendering: geometricPrecision;
}